# dipendenze
node_modules/

# build
dist/
dist-ssr/
*.tsbuildinfo

# cache e log
*.local
*.log
npm-debug.log*
.vite/

# editor / SO
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/
Thumbs.db

ordine.xlsx